<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bizblanca - Job</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap/bootstarp.min.css" />
    <link rel="stylesheet" href="../assets/css/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/media.css" />
    <script src="https://kit.fontawesome.com/d868f4cf6e.js" crossorigin="anonymous"></script>
</head>
<style>
    
       
</style>
<body>
    <div class="container p-0">
    <div class="footbarContainer container">
        <div class="footbarSingleItem">
            <a class="FootIcon" href="#" onclick="activeFootIcon(this)">
                <i class="fas fa-home"></i>
            </a>
        </div>
        <div class="footbarSingleItem">
            <a class="FootIcon" href="#" onclick="activeFootIcon(this)">
            <i class="fas fa-bookmark"></i>
            </a>
        </div>
        <div class="footbarSingleItem">
            <a class="FootIcon" href="#">
            <div class="footbarLogo">
                <img src="../assets/img/logo/Favicon.png" alt="ez-footbar-logo">
            </div>
            </a>
        </div>
        <div class="footbarSingleItem">
            <a class="FootIcon" href="#" onclick="activeFootIcon(this)">
            <i class="fas fa-star"></i>
        </a>
        </div>
        <div class="footbarSingleItem">
            <a class="FootIcon activeFootIcon" href="#" onclick="activeFootIcon(this)">
            <i class="fas fa-user "></i>
        </a>
        </div>

</div>
</div>
<script>
    // function activeFootIcon(a)
    // {
    //     var items = document.getElementsByClassName('FootIcon')
    //     console.log(items.length);
    //     if(items.length) 
    //     {
    //         items.className = 'FootIcon';
    //     }
    //     items.classList.remove = 'activeFootIcon'
    //     a.classList.add = 'activeFootIcon';

    // }
</script>
</body>
</html>
