
@media screen and (min-width:769px) {
    .v-on-d{    
        display: block;
    }
    .v-on-m{    
        display: none;
    }
    .tabsComponents{
        justify-content: space-between;
    }
    .LogoCompanyD{
        display: block;
    }
    .LogoCompanyM{
        display: none;
    }
    
    .selectDateWrap>.col-4{
        padding: 0px 10px !important;
    }
    .selectDateWrap>.col-3{
        padding: 0px 10px !important;
    }
}
@media screen and (max-width:769px) {
    .selectDateWrap{
        justify-content: space-between;
    }
    .commonNavigationTitle{
        font-size: 18px;
        padding: 20px 0px;
        font-weight: bold;
    }
    .commonNavigation, .previousNavigation{
        font-size: 14px;
    }
    .addPartnerContainer{
        padding: 14px;
    }
    .partner_search_feild{
        height: 43px;
        font-size: 12px;
    }
    .single_partner>.info_content>img{
        height: 43px;
        width: 43px;
    }
    .commonDetailTitle{
        font-size: 16px;
    }
    .single_partner>.info_content>p {
        font-size: 14px;
    }
    .single_partner>a{
        font-size: 12px;
        padding: 0px;
    }
    .single_partner{
        padding: 13px;
        margin: 18px 0px;
    }
    .partner_search_feild::placeholder{
        font-size: 12px;
    }
    .searchPartner{
        display: flex;
        align-items: center;
        margin: 20px 0px;
    }
    .searchPartner>label>i{
        background-color: #E0922F;
        color: #fff;
        width: 45px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px 8px 8px 0px;
        font-size: 20px;
        cursor: pointer;
    }
    .MyfavoruiteItem{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 15px;
        position: relative;
        display: flex;
        align-items: flex-end;
        padding: 8px;
        width: 177px;
        height: 157px;
        margin-left: 0px;
       /*  margin-top: 20px; */
    }
    .tabsComponents>li>i {
        font-size: 22px;
    }
    .MyfavoruiteItem>.detailInfo>h5, .MyfavoruiteItem>.detailInfo>h5, .MyfavoruiteItem>.detailInfo>h5{
        color: var(--whiteColor);
        font-size: 13px;
        margin: 0px;
    }
    .ratingCount{
        font-size: 13px;
        padding: 0px 4px;
    }
    .reviewsCount{
    font-size: 11px;
    padding:0px 5px;
    }
    .DollarSign{
        font-size: 13px;
        font-weight: bold;
    }
    .NavBarContainer{
        padding: 0px 10px;
        /* background: none; */
        box-shadow: none;
    }
    .EzFeatured {
        width: 200px !important;
        height: 184px
    }
    .headingFavourite{
        font-size: 18px;
        text-align: center;
        width: 100%;
        padding: 20px 0px;
    }
    .mobileLogo{
        height: 38px !important;
        width: 30px !important;
    }
    .seeAllAnker {
        font-size: 12px;
    }
    .v-on-d{    
        display: none;
    }
    .h-on-m{    
        display: none;
    }
    .v-on-m{    
        display: block;
    }
    .LogoCompany {
        height: 60px;
        width: 60px;
    }
    .SocialIcons {
        width: 160px;
        margin: 0px;
    }
    .SocialIcons>li {
        font-size: 26px;
    }
    .MyfavoruiteItems{
        justify-content: space-between;
    }
    .CredentialsFeilds{
    justify-content: center;
    padding: 20px !important;
    }
    /* MY_REVIEW_PAGE */
    .productReviewImg,.activity
    {
        display: none;
    }
    .productReviewContainer
    {
        padding: 20px;
    }
    .productUserLikes
    {
        font-size: 10px;
        min-width: 80px;
    }
    .productUserLikes > i
    {
        font-size: 16px;
        color: var(--primaryClrOrange);
    }
    .approvedLikes
    {
        display: block;
        font-size: 14px;
        font-style: italic;
        color: var(--primaryGreen);
    }
    .productUserDescription,.productReviewGallery
    {
        display: none;
    }
    .productUserDescriptionMbl,.productReviewGalleryMobile
    {
        display: block;
    }
    .filterBtn {
        font-size: 16px;
    }
    .socialLinks > ul >li
    {
        margin-right: 0.5rem !important;
    }
    .socialLinks > ul >li>a
    {
        font-size: 16px;
        padding: 6px 9px;
    }
    .reviewTitle,.singleReviewData
    {
        margin-left: 0 !important;
    }
    .productReviewBody
    {
        padding: 5px;
    }
    .commonDetails
    {
        margin-top: 20px;
    }
    .customSelect
    {
        padding: 5px 10px;
    }
    .businessHourBox
    {
        font-size: 12px;
        min-width: 140px;
    }
    .p-sm-off
    {
        padding: 0 !important;
    }
    .p-sm-on
    {
        padding-inline:15px !important;
    }
    .selectedDay
{
font-size: 14px;
}
    .selectedTime
    {
        font-size: 12px;
        color:grey;
    }
}


@media screen and (max-width:320px) {
    .MyfavoruiteItem{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 15px;
        position: relative;
        display: flex;
        align-items: flex-end;
        padding: 8px;
        width: 145px;
        height: 129px;
        /* margin-left: 10px;
        margin-top: 20px; */
    }  
}
@media only screen and (min-width:414px) and (max-width:420px) {
    .MyfavoruiteItem{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 15px;
        position: relative;
        display: flex;
        align-items: flex-end;
        padding: 8px;
        width: 192px;
        height: 172px;
        /* margin-left: 10px;
        margin-top: 20px; */
    }
}
@media screen and (max-width:1466px) {
   
}
@media screen and (min-height:1050px) {
   
}
/* -foot-bar- */
.footbarContainer
    {
        height: 50px;
        background-color: white;
        position: fixed;
        bottom: 0;
        box-shadow: -10px 0px 20px #00000012;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .footbarLogo
    {
        border: 1px solid #FFC978;   
        border-radius: 100%;
        background-color: white;
        height: 56px;
        width: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -80%;
    }
    .footbarLogo > img
    {
        height: 38px;   
        width: 30px;
    }
    .FootIcon,.FootIcon > .fa-star
    {
        color:#B5B5B5;
    }
    .footbarSingleItem > a:hover,.FootIcon > .fa-star:hover
    {
        color:#E0922F;
    }
    .footbarSingleItem > a > i
    {
        font-size: 26px;
    }
    